{% extends 'base.html' %}
{% block content %}

<h1>Event Details</h1>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ event.title }}</span>
        {% if event.date < today %}
        <form id="star-btn" action=" {% url 'add_rating' event.id %}" method="POST">
          {% csrf_token %}
          <button class="star-btn" type="submit" name="rating" value="5">&#9733;</button>
          <button class="star-btn" type="submit" name="rating" value="4">&#9733;</button>
          <button class="star-btn" type="submit" name="rating" value="3">&#9733;</button>
          <button class="star-btn" type="submit" name="rating" value="2">&#9733;</button>
          <button class="star-btn" type="submit" name="rating" value="1">&#9733;</button>
        </form>
        {% else %}
        <br>
        {% endif %}
        <h6>Date: &nbsp;{{ event.date }}</h6>
        <h6>Time: &nbsp;{{ event.time }}</h6>
        <h6>Description: &nbsp;{{ event.description }}</h6>
        <h6>Address: &nbsp;{{ event.address }}</h6>
        <h6>Neighborhood: &nbsp;{{ event.neighborhood }}</h6>
        <h6>City: &nbsp;{{ event.city }}</h6>
        <br>
        {% if event.user == request.user %}
        <div class="card-action">
          <a class="btn" href="{% url 'events_update' event.id %}">Edit</a>&nbsp;&nbsp;
          <a class="btn" href="{% url 'events_delete' event.id %}">Delete</a>
        </div>
        {% endif %}
      </div>
    </div>
    {% for photo in event.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">&nbsp;&nbsp;&nbsp;&nbsp;
    {% empty %}
    <div class="card-panel center-align">No Photos Uploaded</div>
    {% endfor %}
    {% if user.is_authenticated %}
    <form action="{% url 'add_photo' event.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
      {% csrf_token %}
      <input type="file" name="photo-file">
      <br><br>
      <button type="submit" class="btn">Upload Photo</button>
    </form>
    {% endif %}
    <!-- Add Comment -->
    <h3>Comments</h3>
    <div class="col s12">
      {% if user.is_authenticated %}
      <form class="comment-form" action="{% url 'add_comment' event.id %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" class="btn" value="Add Comment">
      </form>
      {% endif %}
      <!-- Comments table.. why does edit and delete come above this table? -->
      <table class="centered">
        <thead>
          <tr>
            <th>User</th>
            <th>Comment</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for comment in event.comment_set.all %}
          <tr>
            <td>{{ comment.user.username }}</td>
            <td>{{ comment.content }}</td>
            {% if comment.updated_at %}
            <td>{{ comment.updated_at }}</td>
            {% else %}
            <td>{{ comment.created_at }}</td>
            {% endif %}
            {% if comment.user == request.user %}
            <div>
              <td><a href="{% url 'comment_update' comment.id %}">Edit</a></td>
              <td><a href="{% url 'comment_delete' comment.id %}">Delete</a></td>
            </div>
            {% else %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- end of comment div -->
  </div>
</div>
<!-- <script>
  const rate = (rating, event_id) => {
      fetch(`/rate/${event_id}/${rating}/`, {
          method: 'GET',
          headers: {
              'Content-Type': 'application/json'
          }
      }).then(rest => {
          window.location.reload();
          // you may want to update the rating here
          // to simplify stuff, I just reload the page
      })
  }
</script> -->
{% endblock %}