{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GetTogether</title>
    <link rel="icon"href="{% static 'favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="{% url 'home' %}" class="left brand-logo">&nbsp;&nbsp;GetTogether</a></li>
                </ul>
                <ul class="left logo">
                    <li><img src="https://i.imgur.com/8ejsXGY.png" alt="get-together-logo" height="60vmin"></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}">All Events</a></li>
                    <li><a href="{% url 'my_index' %}">My Events</a></li>
                    <li><a href="{% url 'events_create' %}">Add Event</a></li>
                    <li>
                        <a class="dropdown-trigger" href="#" data-target="dropdown1">Cities</a>
                    </li>
                    <ul id="dropdown1" class="dropdown-content">
                        <li><a href="{% url 'events_seattle' %}">Seattle</a></li>
                        <li><a href="{% url 'events_losangeles' %}">Los Angeles</a></li>
                        <li><a href="{% url 'events_sanfrancisco' %}">San Francisco</a></li>
                    </ul>
                    <li><a href="{% url 'logout' %}"><span>Sign Out</span></a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                <ul class="right">
                    <li>Welcome,&nbsp;{{ user.username|capfirst }}!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}

        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="footer-text">All Rights Reserved, &copy; 2022 GetTogether &nbsp;
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
        });
    </script>
</body>

</html>