* {
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #bcdcc13e;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

nav {
  background-color: #4A5954;
}

form {
  background-color: #F9F7F1;
  padding: 20px;
  border-radius: 1%
  
}
.page-footer {
  background-color: #4A5954;
}

.carousel-item {
  width: auto !important;
}

.btn {
  background-color: #846267;
}

.btn:hover {
  background-color: #4A5954;
}

.card .card-title {
  font-size: 40px;
  color: #4A5954;
  font-weight: 600;
}

.card {
  background-color: #F9F7F1;
}

.card-panel {
  background-color: #F9F7F1 !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #4A5954;
}

.card .card-action {
  padding-left: 0px;
  padding-bottom: 0px;
}


form.comment-form {
  background-color: #bcdcc13e;
}

img.card-panel {
  width: 60vmin;
}

a, nav > a {
  color: #4A5954;
}

footer.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.confirm-delete {
  background-color: #bcdcc100;
}

.item-to-delete {
  color: #846267;
  font-weight: 500;
}

.star-btn {
  border: 0;
  background: transparent;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  float: right;
}

.star-btn:hover,
.star-btn:hover + .star-btn,
.star-btn:hover + .star-btn + .star-btn,
.star-btn:hover + .star-btn + .star-btn + .star-btn,
.star-btn:hover + .star-btn + .star-btn + .star-btn + .star-btn {
  color: #faa;
}

#star-btn {
  display: flex; 
  flex-flow: row-reverse;   
  justify-content: flex-end;
  padding-left: 0;
}

.yes-star {
  color: #faa;
}

#star-field {
  background-color: #bcdcc13e;
  display: inline-block;
  margin: 0;
  padding: 0 .3em 0 .3em;
  border-radius: 15px;
}