* {
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #bcdcc13e;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

nav {
  background-color: #4A5954;
}

form {
  background-color: #F9F7F1;
  padding: 20px;
  border-radius: 1%
  
}
.page-footer {
  background-color: #4A5954;
}

.carousel-item {
  width: auto !important;
}

.btn {
  background-color: #846267;
}

.btn:hover {
  background-color: #70877F;
}

.card .card-title {
  font-size: 32px;
  color: #4A5954;
  font-weight: 600;
}

.card {
  background-color: #F9F7F1;
}

.card-panel {
  background-color: #F9F7F1 !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #4A5954;
}

.card .card-action {
  padding-left: 0px;
}


input > #file-upload-button {
  text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}